---
layout: default
---

{% assign page_semestre = site.semestre %}

<div class="page-content section-home">

  <div class="wrapper large" data-grid="center spacing">
    <section data-cell="1of3">

      <h1 class="page-heading">Bem vindo à {{ site.title }}!</h1>
      <p>{{ site.description }}</p>

    </section>

    <aside data-cell="2of3">

      <img src="{{ site.baseurl }}/img/home-hero.jpg" alt="Plataforma de ensino">

    </aside>
  </div>

</div>

<div class="page-content section-areas brand-color">
  <section class="wrapper large">
    <ul class="seamless txt-center" data-grid="spacing">
      {% for area in site.areas %}{% assign crumbs = area.url | split: '/' %}{% assign area_semestre = crumbs[2] %}
        {% if page_semestre == area_semestre %}
          <li data-cell="1of4">
            <a href="{{ site.baseurl }}{{ area.url }}" data-block>
              <span data-block class="wrapper svg-container area-img">
                {% assign icone_url = "svg/" | append: area.icone | append: '.svg' %}
                {% include {{ icone_url }} %}
              </span>
              <small data-block="">{{ area.title }}</small>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
</div>

<div class="page-content section-unidades">

    <div class="wrapper">
      <h2 class="page-heading txt-center">Unidades</h2>
    </div>
    <ul class="seamless txt-center" data-grid="around wrap">
      {% for unidade in site.unidades %}{% assign crumbs = unidade.url | split: '/' %}
        {% if crumbs[2] == page_semestre %}
          <li class="wrapper" data-cell="around wrap">
            <div data-block="table center circ" class="area-img">
              <img src="{{ site.baseurl }}/img/unidades/{{ crumbs[3] | remove: '.html' }}.jpg" alt="{{ unidade.title }}">
            </div>
            <p>{{ unidade.title }}</p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

  <hr>

  <div class="wrapper">
    {% for my_page in site.pages %}{% assign my_page_menu_semestre = my_page.name | remove: '.md' %}
      {% if my_page_menu_semestre == page_semestre %}
        <h1>{{ my_page.title }}</h1>
        {{ my_page.content }}
        <p><a href="{{ site.baseurl }}{{ my_page.url }}">Conheça os projetos...</a></p>
      {% endif %}
    {% endfor %}
  </div>

</div>
