---
layout: default
---

<div class="page-content section-home">

  <div class="wrapper large" data-grid="center spacing">
    <section data-cell="1of3">

      <h1 class="page-heading">Bem vindo à {{ site.title }}!</h1>
      <p>{{ site.description }}</p>

    </section>

    <aside data-cell="2of3">

      <img src="{{ site.baseurl }}/img/home-hero.jpg" alt="Plataforma de ensino">

    </aside>
  </div>

</div>

<div class="page-content section-areas brand-color">
  <section class="wrapper">
    <ul class="seamless txt-center" data-grid="spacing">
        <li data-cell="1of4">
            <a href="#" data-block>
              <span data-block class="wrapper svg-container">{% include svg/apple.svg %}</span>
              <small data-block="">Ciências da Natureza e suas tecnologias</small>
            </a>
        </li>
        <li data-cell="1of4">
            <a href="#" data-block>
              <span data-block class="wrapper svg-container">{% include svg/civilization.svg %}</span>
              <small data-block="">Ciências Humanas e suas tecnologias</small>
            </a>
        </li>
        <li data-cell="1of4">
            <a href="#" data-block>
              <span data-block class="wrapper svg-container">{% include svg/compass.svg %}</span>
              <small data-block="">Matemática e suas tecnologias</small>
            </a>
        </li>
        <li data-cell="1of4">
            <a href="#" data-block>
              <span data-block class="wrapper svg-container">{% include svg/translation.svg %}</span>
              <small data-block="">Linguagens, códigos e suas tecnologias</small>
            </a>
        </li>
    </ul>
  </section>
</div>

<div class="page-content section-gallery">
  <div class="wrapper">
    <h2 class="page-heading txt-center">Responsáveis</h2>
    <ul class="seamless txt-center" data-grid="center spacing">
      <li data-cell="">
        <div data-block="table center circ">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/vladzima/128.jpg" alt="">
        </div>
        <p>Lúcio</p>
      </li><li data-cell="">
        <div data-block="table center circ">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/towhidzaman/128.jpg" alt="">
        </div>
        <p>Dado</p>
      </li><li data-cell="">
        <div data-block="table center circ">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/ashleyford/128.jpg" alt="">
        </div>
        <p>Neto</p>
      </li><li data-cell="">
        <div data-block="table center circ">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" alt="">
        </div>
        <p>Geiza</p>
      </li>
    </ul>
  </div>
</div>

<hr>

<div class="page-content section-lorem">
  <div class="wrapper">
    <h1>Section...</h1>
    <p>Mais conteúdo aqui?</p>
    <p><a href="#">Testando um link...</a></p>
  </div>
</div>

<hr>

<div class="page-content section-sugestoes">
  <div class="wrapper" data-grid="spacing">
    <div data-cell="1of3">
      <h2>Unidades</h2>
      {% for unidade in site.unidades %}
        <article class="unidade">
          <h3 class="post-heading">{{ unidade.title }}</h3>
          <p>{{ unidade.content }}</p>
        </article>
      {% endfor %}
    </div>
    <div data-cell="1of3">
      <h2>Áreas</h2>
      {% for area in site.data.areas %}
        <article class="area">
          <h3 class="post-heading">{{ area.title }}</h3>
          <p>{{ area.content }}</p>
        </article>
      {% endfor %}
    </div>
  </div>
</div>