<footer class="site-footer">

  <div class="wrapper" data-grid="center spacing">

    <div data-cell="2of3">
    	<h2 class="footer-heading">{{ site.title }}</h2>
    	<p>{{ site.description }}</p>
    </div>
    <div data-cell="shrink">
      <p>
        <img src="{{ site.baseurl }}/img/objetivo-interativo-logo.png" width="95" alt="Logo Objetivo Interativo">
      </p>
      <p>
        <img src="{{ site.baseurl }}/img/logo-objetivo.png" width="95" alt="Colégio Objetivo Baixada">
      </p>
    </div>

  </div>

</footer>
