{% assign projeto = include.projeto %}

{% assign nivel = site.data.niveis | where: 'title', projeto.nivel %}

<li data-nivel="{{ projeto.nivel }}" data-nivel-tag="{{ nivel[0].tag }}" data-turma="{{ projeto.serie }}{{ projeto.turma }}">

    <h2 class="post-link"><a href="{{ site.baseurl }}{{ projeto.url }}">{{ projeto.title }}</a></h2>
    <p>Equipe <strong>{{ projeto.equipe }}</strong></p>
    <p class="post-meta">{{ projeto.serie }}º ano {{ projeto.turma }} do Ensino {{ projeto.nivel }}</p>

</li>