.hero, %negativo
    background-color: $grey-color-dark
    color: $grey-color
    &.brand-color
        background-color: $brand-color
        color: $grey-color-light
    a
        color: inherit
        text-decoration: none
        &:hover,
        &:focus
            color: $ui-color-active
            text-shadow: 0 0 3px $ui-color-active
            outline: none

.site-header
    @extend %negativo
    min-height: 56px
    // Positioning context for the mobile navigation icon
    position: relative

.site-title
    font-size: 26px
    font-weight: 300
    line-height: 56px
    letter-spacing: -1px
    margin-bottom: 0
    float: left

.site-nav
    float: right
    line-height: 56px
    .menu-icon
        display: none
    .page-link
        line-height: $base-line-height
        margin-left: 20px
    +media-query($on-palm)
        position: absolute
        top: 9px
        right: $spacing-unit / 2
        background-color: $background-color
        border: 1px solid $grey-color-light
        border-radius: 5px
        text-align: right
        .menu-icon
            display: block
            float: right
            width: 36px
            height: 26px
            line-height: 0
            padding-top: 10px
            text-align: center
            > svg
                width: 18px
                height: 15px
                path
                    fill: $grey-color-dark
        .trigger
            clear: both
            display: none
        &:hover .trigger
            display: block
            padding-bottom: 5px
        .page-link
            display: block
            padding: 5px 10px
            margin-left: 20px

// * Site footer

.site-footer
    @extend %negativo
    padding: $spacing-unit 0

.footer-heading
    font-size: 18px
    margin-bottom: $spacing-unit / 2


// * Page content

.page-content
    padding: $spacing-unit 0

.page-heading
    font-size: 20px
    line-height: 1.2

.post-list
    margin-left: 0
    list-style: none
    > li
        margin-top: $spacing-unit / 2
        margin-bottom: $spacing-unit / 2
        padding: $spacing-unit / 2
        background-color: #fff
        border: 1px solid $grey-color-light
        border-radius: 4px
        &:hover
            border-color: $brand-color

.post-meta
    font-size: $small-font-size
    color: $grey-color
    line-height: 1

.post-link
    display: block
    font-size: 24px

// * Posts

.post-header
    margin-bottom: $spacing-unit

.post-title
    font-size: 42px
    letter-spacing: -1px
    line-height: 1
    +media-query($on-laptop)
        font-size: 36px

.post-content
    margin-bottom: $spacing-unit
    >
        h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure
            @extend .wrapper
        ul, ol
            &:not(.seamless)
                padding-left: $spacing-unit * 2
    h2
        font-size: 32px
        +media-query($on-laptop)
            font-size: 28px
    h3
        font-size: 26px
        +media-query($on-laptop)
            font-size: 22px
    h4
        font-size: 20px
        +media-query($on-laptop)
            font-size: 18px

// * Sections

.section-areas
    @extend %negativo