.hero, %negativo
    background-color: $grey-color-dark
    color: $grey-color
    &.brand-color
        background-color: $brand-color
        color: $grey-color-light
    a
        color: inherit
        text-decoration: none
        &:hover,
        &:focus
            color: $ui-color-active
            text-shadow: 0 0 3px $ui-color-active
            outline: none

.site-header
    // @extend %negativo
    background-color: $grey-color-light
    min-height: 56px
    line-height: 56px
    // Positioning context for the mobile navigation icon
    position: relative
    a
        color: $text-color
        &:hover,
        &:focus
            text-decoration: none
            color: $brand-color

.site-title
    font-size: 26px
    font-weight: 300
    letter-spacing: -1px
    margin-bottom: 0
    margin-right: $spacing-unit
    float: left
    .site-title-label
        +media-query($on-palm)
            display: none

.site-nav
    float: right
    line-height: 56px
    .menu-icon
        display: none
    .page-link
        line-height: $base-line-height
        margin-left: 20px
    +media-query($on-palm)
        position: absolute
        top: 9px
        right: $spacing-unit / 2
        border-radius: 5px
        text-align: right
        .menu-icon
            display: block
            float: right
            width: 36px
            height: 40px
            line-height: 0
            padding-top: 10px
            text-align: center
            > svg
                width: 18px
                height: 15px
                color: inherit
                path
                    fill: currentcolor
        .trigger
            clear: both
            display: none
        &:hover .trigger
            display: block
            padding-bottom: 5px
            background-color: $background-color
            box-shadow: -3px 3px 10px 0 rgba(black, .1)
            animation: menu-get-up .2s ease-in-out
        @keyframes menu-get-up
            0%
                opacity: 0
                transform: translateY(15px)
            100%
                opacity: 1
                transform: translateY(0)
        .page-link
            display: block
            padding: 5px 10px
            margin-left: 20px

// * Site footer

.site-footer
    @extend %negativo
    padding: $spacing-unit 0

.footer-heading
    font-size: 18px
    margin-bottom: $spacing-unit / 2


// * Page content

.page-content
    padding: $spacing-unit 0

.page-heading
    font-size: 20px
    line-height: 1.2

.page-breadcrumbs
    @extend %negativo
    padding: 1px 0

    .breadcrumbs
        margin-top: 0
        margin-bottom: 0
        line-height: 2.5
        li
            margin-right: $spacing-unit / 2
            margin-bottom: 0
            &:not(:last-child)
                &:after
                    content: '\232a'
                    margin-left: 15px
        a
            display: inline-block

.post-list
    margin-left: 0
    list-style: none
    > li
        margin-top: $spacing-unit / 2
        margin-bottom: $spacing-unit / 2
        padding: $spacing-unit / 2
        background-color: #fff
        border: 1px solid $grey-color-light
        border-radius: 4px
        &:hover
            border-color: $brand-color

.post-meta
    font-size: $small-font-size
    color: $grey-color
    line-height: 1

.post-link
    display: block
    font-size: 24px

// * Posts

.post-header
    margin-bottom: $spacing-unit

.post-title
    font-size: 42px
    letter-spacing: -1px
    line-height: 1
    +media-query($on-laptop)
        font-size: 36px

.post-content
    margin-bottom: $spacing-unit
    >
        h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure
            @extend .wrapper
        ul, ol
            &:not(.seamless)
                padding-left: $spacing-unit * 2
    h2
        font-size: 32px
        +media-query($on-laptop)
            font-size: 28px
    h3
        font-size: 26px
        +media-query($on-laptop)
            font-size: 22px
    h4
        font-size: 20px
        +media-query($on-laptop)
            font-size: 18px

// * Sections

%area-img
    max-width: 120px

.section-unidades
    .page-heading
        padding: $spacing-unit / 2 0
        border-bottom: 1px solid $grey-color-light
    
    .area-img
        @extend %area-img

.section-areas
    @extend %negativo

    .area-img
        @extend %area-img