---
layout: default
---

{% assign crumbs = page.url | split: '/' %}
{% assign page_semestre = crumbs[2] %}

<article class="post">

  <div class="page-content hero brand-color">
    <header class="wrapper large" data-grid="center spacing">
      <div class="svg-container" data-cell="1of4">
        {% include svg/{{ page.icone }}.svg %}
      </div>
      <div data-cell="3of4">
        <h1 class="post-title">{{ page.title }}</h1>
      </div>
    </header>
  </div>

  {% include breadcrumbs.html %}

  <div class="post-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

</article>

<nav class="page-content">
  <div class="wrapper large" data-grid="spacing">

    <div data-cell="3of4">
      <h2>Projetos {{ page_semestre }}</h2>
      <ul class="seamless post-list" data-grid="cols-2 spacing">
        {% for projeto in site.projetos %}{% assign pro_crumbs = projeto.url | split: '/' %}
          {% if projeto.area == page.title and pro_crumbs[2] == page_semestre %}
            {% include link_projeto.html projeto = projeto %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div data-cell="1of4">
      {% include menu_lateral.html semestre = page_semestre %}
    </div>

  </div>
</nav>

<script>
{% assign semestre_data = "projetos-" | append: page_semestre %}
{% include data.js semestre_data = semestre_data %}
</script>
