---
layout: default
---

{% assign crumbs = page.url | split: '/' %}
{% assign page_semestre = crumbs[2] %}
{% assign page_name = page.name | remove: '.md' %}
<nav class="page-breadcrumbs">
  
  <ul class="wrapper large breadcrumbs" data-grid="row start wrap">
  
    {% for my_page in site.pages %}
      {% assign my_page_name = my_page.name | remove: '.md' %}
      {% if my_page_name == crumbs[2] %}
        <li data-cell="shrink"><a href="{{ site.baseurl }}{{ my_page.url }}">{{ my_page.title }}</a></li> 
      {% endif %}
    {% endfor %}
  
    {% for unidade in site.unidades %}{% assign unidade_crumbs = unidade.url | split: '/' %}{% assign unidade_name = unidade_crumbs[3] | remove: '.html' %}
      {% if unidade_name == crumbs[3] %}
        <li data-cell="shrink"><a href="{{ site.baseurl }}{{ unidade.url }}">{{ unidade.title }}</a></li> 
      {% endif %}
    {% endfor %}
  
    <li data-cell="shrink"><a href="#">{{ page.nivel"] }} ▼</a></li>
    <li data-cell="shrink"><a href="#">{{ page.serie"] }}º {{ page.turma }} ▼</a></li>
  
  </ul>
</nav>

<article class="post projeto">

  <header class="post-header page-content">
    <div class="wrapper large">
      <h1 class="post-title">{{ page.title }}</h1>
      <div data-grid="spacing" class="wrapper post-meta">
        <div data-cell="">
          <h2><small class="post-meta-label">Equipe:</small> {{ page.equipe }}</h2>
          <h3><small class="post-meta-label">Área:</small> {{ page.area }}</h3>
        </div>
        <div data-cell="">
          <p><small>Unidade</small> {{ page.unidade }} <br>{{ page.serie }}º ano {{ page.turma }} do Ensino {{ page.nivel }}</p>
          <p><small>Integrantes:</small> <br>{{ page.integrantes | replace: ',', '<br>' | replace: ' e ', '<br>' }}</p>
        </div>
      </div>
    </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
