---
layout: default
---

{% assign crumbs = page.url | split: '/' %}
{% assign page_semestre = crumbs[2] %}
{% assign page_name = page.name | remove: '.md' %}

{% include breadcrumbs.html %}

<article class="post projeto">

  <header class="post-header page-content">
    <div class="wrapper large">
      <h1 class="post-title">{{ page.title }}</h1>
      <div data-grid="spacing" class="post-meta">
        <div data-cell="3of4">
          <h2><small class="post-meta-label">Equipe:</small> {{ page.equipe }}</h2>
          <h3><small class="post-meta-label">Área:</small> {{ page.area }}</h3>
        </div>
        <div data-cell="shrink">
          <p><small>Unidade</small> {{ page.unidade }} <br>{{ page.serie }}º ano {{ page.turma }} do Ensino {{ page.nivel }}</p>
          <p><small>Integrantes:</small> <br>{{ page.integrantes | replace: ',', '<br>' | replace: ' e ', '<br>' }}</p>
        </div>
      </div>
    </div>
  </header>

  <div class="post-content">
    {{ content }}
    {% assign midia = site.data[page_semestre].midia[page.url] %}
    {% if midia %}
      {% if midia.description %}{{ midia.description | markdownify }}{% endif %}
      {% include /midia/{{ midia.tipo }}.html data = midia %}
    {% else %}
      <div class="wrapper" data-grid="center spacing">
        <div data-cell="1of3">{% include svg/working-with-laptop.svg %}</div>
        <div data-cell="2of3">
          <h3>Este trabalho está em produção</h3>
          <p>O trabalho dos alunos estará disponível assim que o processo de correção for concluído pelo orientador.</p>
        </div>
      </div>
    {% endif %}
  </div>

</article>

<div class="page-content section-sugestoes">
  <div class="wrapper" data-grid="spacing">
    <div data-cell="1of3">
      {% include lista_unidades.html semestre = page_semestre %}
    </div>
    <div data-cell="1of3">
      {% include lista_areas.html semestre = page_semestre %}
    </div>
  </div>
</div>

<script>
{% assign semestre_data = "projetos-" | append: page_semestre %}
{% include data.js semestre_data = semestre_data %}
</script>
