---
layout: default
---

{% assign crumbs = page.url | split: '/' %}
{% assign page_semestre = crumbs[2] %}

<article class="post page-content">

  <header class="post-header wrapper large">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">

    {{ content }}

  </div>

</article>

<nav class="page-content">
  <div class="wrapper" data-grid="spacing">
    <div data-cell="3of4">
      <h2>Projetos {{ page_semestre }}</h2>
      <ul class="seamless">
        {% for projeto in site.data[page_semestre].projetos %}
          {% if projeto["Unidade"] == page.title %}
            {% capture projeto_url %}{% include projeto_url.html
              page_semestre = page_semestre
              projeto = projeto
            %}{% endcapture %}
            <li>
              <h2 class="post-link"><a href="{{ projeto_url }}">{{ projeto["Nome do projeto"] }}</a></h2>
              <p>Equipe <strong>{{ projeto["Nome da equipe"] }}</strong></p>
              <p class="post-meta">{{ projeto["Série"] }}º ano {{ projeto["Turma"] }} do Ensino {{ projeto["Nível"] }}</p>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div data-cell="1of4">
      {% include menu_lateral.html semestre = page_semestre %}
    </div>
  </div>
</nav>
